<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.persistence.CompanyDAO">

    <resultMap id="company" type="com.itwillbs.domain.CompanyVO">
        <result property="company_code" column="company_code" />
        <result property="company_name" column="company_name" />
        <result property="company_manager" column="company_manager" />
        <result property="company_tel" column="company_tel" />
        <result property="company_email" column="company_email" />
        <result property="company_address" column="company_address" />
        <result property="is_deleted" column="is_deleted" />
    </resultMap>

    <select id="getCompanyList" resultMap="company">
    SELECT company_code, company_name, company_manager, company_tel, company_email, company_address 
    FROM company 
    WHERE is_deleted = '01'
	</select>

    <select id="getCompanyByCode" resultMap="company">
        SELECT * FROM company WHERE company_code = #{company_code}
    </select>

    <insert id="insertCompany">
        INSERT INTO company (company_code, company_name, company_manager, company_tel, company_email, company_address ) 
        VALUES (#{company_code}, #{company_name}, #{company_manager}, #{company_tel}, #{company_email}, #{company_address} )
    </insert>

    <update id="updateCompany">
        UPDATE company 
        SET company_name = #{company_name}, 
            company_manager = #{company_manager}, 
            company_tel = #{company_tel}, 
            company_email = #{company_email}, 
            company_address = #{company_address} 
        WHERE company_code = #{company_code} 
    </update>

    <update id="updateCompanyStatus">
        UPDATE company 
        SET is_deleted = '02' 
        WHERE company_code = #{company_code}
    </update>

    <!-- getCompany와 getCompanyByCode를 통합 -->
    <select id="getCompany" resultMap="company">
        SELECT * FROM company WHERE company_code = #{company_code}
    </select>
    
    <select id="getMember" resultType="com.itwillbs.domain.MemberVO">
    select * from member where member_code = #{company_code};
    </select>
    
    <delete id="deleteMember">
   	 delete from member where member_code = #{company_code}
    </delete>
    

</mapper>