<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.itwillbs.mapper.OrderMapper">
 	<!-- namespace를 사용해서 mapper 파일을 찾아오는 주소 설정 -->
 	 	
 <!-- 발주 요청 정보 입력 -->
    <insert id="insert">
    	insert into orders(ord_delete_status,ord_status, ord_manager_id, ord_supervisor_id, prod_id, ord_price, ord_quantity, ord_date, ord_date_change, company_code, ord_text, wh_number,ord_number,ord_count) 
    	values ('01','01',#{ord_manager_id},#{ord_supervisor_id},#{prod_id},#{ord_price},#{ord_quantity},now(),now(),#{company_code},#{ord_text},#{wh_number},
    	(SELECT CONCAT('ORD-', YEAR(CURRENT_DATE), '-', LPAD(IFNULL(MAX(SUBSTRING(ord_number, -4)), 0) + 1, 4, '0')) 
         FROM (SELECT ord_number FROM orders WHERE ord_number LIKE CONCAT('ORD-', YEAR(CURRENT_DATE), '%')) AS temp), 
         (SELECT COALESCE(MAX(ord_count), 0) + 1 FROM (SELECT ord_count FROM orders) AS temp2))
    </insert>
    
    <!-- 발주 요청 시 정보 입력 직후 관리번호 생성 -->  <!-- 미구현 -->
	    <update id="insertUpdateOrder">
	    	update orders 
	    	set ord_number = concat('ord-', year(#{ord_date}), '-', lpad(#{ord_count}, 4, '0')) 
	    	where ord_count = #{ord_count}
	    </update>
    
 <!-- 발주 전체 목록 조회 -->
 	<select id="listOrder" resultType="OrdersVO">
 		select * from orders 
 		where ord_delete_status = '01'
 	</select>
 	
 <!-- 발주 기안 목록 조회 -->	<!-- 미구현 -->
 	<select id="getOrderList01">
 		select * from orders 
 		where ord_status = '01'
 	</select>
 	
 <!-- 발주 반려 목록 조회 -->	<!-- 미구현 -->
 	<select id="getOrderList02">
 		select * from orders 
 		where ord_status = '02'
 	</select>
 	
 <!-- 발주 결재 목록 조회 -->	<!-- 미구현 -->
 	<select id="getOrderList03">
 		select * from orders 
 		where ord_status = '03'
 	</select>
 
 <!-- 거래처 반려 목록 조회 -->	<!-- 미구현 -->
 	<select id="getOrderList04">
 		select * from orders 
 		where ord_status = '04'
 	</select>
 
 <!-- 발주 완료 목록 조회 -->	<!-- 미구현 -->
 	<select id="getOrderList05">
 		select * from orders 
 		where ord_status = '05'
 	</select>
 
 <!-- 발주 기안 목록, 발주 반려 목록 삭제 -->
 	<update id="deleteOrder">
 		update orders 
 		set ord_delete_status = '02' 
 		where ord_count = #{ord_count}
 	</update>
 
 <!-- 발주 기안 목록 수정, 발주 반려 목록 재요청 -->
 
 <!-- 발주 기안 목록 수정(01(재요청)도 포함) -->
 <update id="updateOrder">
 	update orders 
        SET ord_count = #{ord_count}, 
        	ord_number = #{ord_number}, 
            ord_status = '01', 
            ord_manager_id = #{ord_manager_id}, 
            ord_supervisor_id = #{ord_supervisor_id}, 
            prod_id = #{prod_id}, 
            ord_price = #{ord_price}, 
            ord_quantity = #{ord_quantity}, 
            ord_date = #{ord_date}, 
            ord_date_change = #{ord_date_change}, 
            company_code = #{company_code}, 
            ord_text = #{ord_text}, 
            wh_number = #{wh_number} 
        WHERE ord_count = #{ord_count}
 </update>
 
 <!-- 발주 기안 목록 03 수정(발주 처리) -->
 <update id="updateOrder03">
 	update orders 
        SET ord_count = #{ord_count}, 
        	ord_number = #{ord_number}, 
            ord_status = '03', 
            ord_manager_id = #{ord_manager_id}, 
            ord_supervisor_id = #{ord_supervisor_id}, 
            prod_id = #{prod_id}, 
            ord_price = #{ord_price}, 
            ord_quantity = #{ord_quantity}, 
            ord_date = #{ord_date}, 
            ord_date_change = #{ord_date_change}, 
            company_code = #{company_code}, 
            ord_text = #{ord_text}, 
            wh_number = #{wh_number} 
        WHERE ord_count = #{ord_count}
 </update>
 
 <!-- 발주 기안 목록 02 수정(발주 반려) -->
 <update id="updateOrder02">
 	update orders 
        SET ord_count = #{ord_count}, 
        	ord_number = #{ord_number}, 
            ord_status = '02', 
            ord_manager_id = #{ord_manager_id}, 
            ord_supervisor_id = #{ord_supervisor_id}, 
            prod_id = #{prod_id}, 
            ord_price = #{ord_price}, 
            ord_quantity = #{ord_quantity}, 
            ord_date = #{ord_date}, 
            ord_date_change = #{ord_date_change}, 
            company_code = #{company_code}, 
            ord_text = #{ord_text}, 
            wh_number = #{wh_number} 
        WHERE ord_count = #{ord_count}
 </update>
 
 
 <!-- 발주 목록에서검색 기능 -->  <!-- 구현중 -->
 
 
 
 
 </mapper>