<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.itwillbs.mapper.OrderMapper">
 	<!-- namespace를 사용해서 mapper 파일을 찾아오는 주소 설정 -->
 	 	
 <!-- 발주 요청 정보 입력 -->
    <insert id="insert">
    	insert into orders(ord_who_status,ord_delete_status,ord_status, ord_manager_id, ord_supervisor_id, prod_id, ord_price, ord_quantity, ord_date, ord_date_change, company_code, ord_text, wh_number,ord_number,ord_count) 
    	values ('01','01','01',#{ord_manager_id},#{ord_supervisor_id},#{prod_id},#{ord_price},#{ord_quantity},now(),now(),#{company_code},#{ord_text},#{wh_number}, 
    	(SELECT CONCAT('ORD-', YEAR(CURRENT_DATE), '-', LPAD(IFNULL(MAX(SUBSTRING(ord_number, -4)), 0) + 1, 4, '0')) 
         FROM (SELECT ord_number FROM orders WHERE ord_number LIKE CONCAT('ORD-', YEAR(CURRENT_DATE), '%')) AS temp), 
         (SELECT COALESCE(MAX(ord_count), 0) + 1 FROM (SELECT ord_count FROM orders) AS temp2))
    </insert>
    
 <!-- 거래처의 발주 요청 정보 입력 -->
    <insert id="insert02">
    	insert into orders(ord_who_status,ord_delete_status,ord_manager_id,prod_id,ord_price,ord_quantity,ord_date,company_code,ord_text,ord_number,ord_count) 
    	values ('02','01',#{ord_manager_id},#{prod_id},#{ord_price},#{ord_quantity},now(),#{company_code},#{ord_text}, 
    	(SELECT CONCAT('ORD-', YEAR(CURRENT_DATE), '-', LPAD(IFNULL(MAX(SUBSTRING(ord_number, -4)), 0) + 1, 4, '0')) 
         FROM (SELECT ord_number FROM orders WHERE ord_number LIKE CONCAT('ORD-', YEAR(CURRENT_DATE), '%')) AS temp), 
         (SELECT COALESCE(MAX(ord_count), 0) + 1 FROM (SELECT ord_count FROM orders) AS temp2))
    </insert>
    
    <!-- 발주 요청 시 정보 입력 직후 관리번호 생성 -->  <!-- 미구현 -->
	    <update id="insertUpdateOrder">
	    	update orders 
	    	set ord_number = concat('ord-', year(#{ord_date}), '-', lpad(#{ord_count}, 4, '0')) 
	    	where ord_count = #{ord_count}
	    </update>
    
 <!-- 발주 전체 목록 조회 -->
 	<!-- <select id="listOrder" resultType="OrdersVO">
 		select * from orders 
 		where ord_delete_status = '01'
 	</select> -->
 	
 	<select id="listOrder" resultType="OrdersVO">
 		select * 
		from orders o, member m, prod p, company cp, departments d, warehouse w, common cm 
		where o.ord_manager_id = m.member_id 
		and o.prod_id = p.prod_id 
		and o.company_code = cp.company_code 
		and m.department_id = d.department_id 
		and o.wh_number = w.wh_number 
		and o.ord_status = cm.common_value 
		and cm.common_work = 'ord_status' 
		and o.ord_delete_status = '01' 
		and o.ord_who_status = '01' 
		order by ord_count desc
 	</select>
 
 <!-- 거래처 발주 전체 목록 조회 -->
 	<select id="listOrder02" resultType="OrdersVO">
 		select * 
		from orders o, member m, prod p, company cp, departments d, warehouse w, common cm 
		where o.ord_manager_id = m.member_id 
		and o.prod_id = p.prod_id 
		and o.company_code = cp.company_code 
		and m.department_id = d.department_id 
		and o.wh_number = w.wh_number 
		and o.ord_status = cm.common_value 
		and cm.common_work = 'ord_status' 
		and o.ord_delete_status = '01' 
		and o.ord_status in ('03', '04', '05', '06') 
		and o.ord_delete_status = '01' 
		order by ord_count desc
 	</select>
 	
 <!-- 발주 기안 목록 조회 -->	<!-- 미구현 -->
	<select id="getOrderList01">
		select * from orders 
		where ord_status = '01'
	</select>
 	
 <!-- 발주 반려 목록 조회 -->	<!-- 미구현 -->
 	<select id="getOrderList02">
 		select * from orders 
 		where ord_status = '02'
 	</select>
 	
 <!-- 발주 결재 목록 조회 -->	<!-- 미구현 -->
 	<select id="getOrderList03">
 		select * from orders 
 		where ord_status = '03'
 	</select>
 
 <!-- 거래처 반려 목록 조회 -->	<!-- 미구현 -->
 	<select id="getOrderList04">
 		select * from orders 
 		where ord_status = '04'
 	</select>
 
 <!-- 발주 완료 목록 조회 -->	<!-- 미구현 -->
 	<select id="getOrderList05">
 		select * from orders 
 		where ord_status = '05'
 	</select>
 
 <!-- 발주 기안 목록, 발주 반려 목록 삭제 -->
 	<update id="deleteOrder">
 		update orders 
 		set ord_delete_status = '02' 
 		where ord_count = #{ord_count}
 	</update>
 
 <!-- 발주 기안 목록 수정, 발주 반려 목록 재요청 -->
 
 <!-- 발주 기안 목록 수정(01(재요청)도 포함) -->
 <update id="updateOrder">
 	update orders 
        SET ord_count = #{ord_count}, 
        	ord_number = #{ord_number}, 
            ord_status = '01', 
            ord_manager_id = #{ord_manager_id}, 
            ord_supervisor_id = #{ord_supervisor_id}, 
            prod_id = #{prod_id}, 
            ord_price = #{ord_price}, 
            ord_quantity = #{ord_quantity}, 
            <!-- ord_date = #{ord_date},  -->
            ord_date_change = now(), 
            <!-- company_code = #{company_code},  -->
            ord_text = #{ord_text}, 
            wh_number = #{wh_number} 
        WHERE ord_count = #{ord_count}
 </update>
 
 <!-- 발주 기안 목록 03 수정(발주 처리) -->
 <update id="updateOrder03">
 	update orders 
        SET ord_count = #{ord_count}, 
        	ord_number = #{ord_number}, 
            ord_status = '03', 
            ord_manager_id = #{ord_manager_id}, 
            ord_supervisor_id = #{ord_supervisor_id}, 
            prod_id = #{prod_id}, 
            ord_price = #{ord_price}, 
            ord_quantity = #{ord_quantity}, 
            <!-- ord_date = #{ord_date},  -->
            ord_date_change = now(), 
            <!-- company_code = #{company_code},  -->
            ord_text = #{ord_text}, 
            wh_number = #{wh_number} 
        WHERE ord_count = #{ord_count}
 </update>
 
 <!-- 발주 기안 목록 02 수정(발주 반려) -->
 <update id="updateOrder02">
 	update orders 
        SET ord_count = #{ord_count}, 
        	ord_number = #{ord_number}, 
            ord_status = '02', 
            ord_manager_id = #{ord_manager_id}, 
            ord_supervisor_id = #{ord_supervisor_id}, 
            prod_id = #{prod_id}, 
            ord_price = #{ord_price}, 
            ord_quantity = #{ord_quantity}, 
            <!-- ord_date = #{ord_date},  -->
            ord_date_change = now(), 
            <!-- company_code = #{company_code},  -->
            ord_text = #{ord_text}, 
            wh_number = #{wh_number} 
        WHERE ord_count = #{ord_count}
 </update>
 
 
 <!-- 발주 기안 목록 05 거래처 발주 처리 -->
 <update id="updateOrder05">
 	update orders 
        SET ord_count = #{ord_count}, 
        	ord_number = #{ord_number}, 
            ord_status = '05', 
            ord_manager_id = #{ord_manager_id}, 
            ord_supervisor_id = #{ord_supervisor_id}, 
            prod_id = #{prod_id}, 
            ord_price = #{ord_price}, 
            ord_quantity = #{ord_quantity}, 
            <!-- ord_date = #{ord_date},  -->
            ord_date_change = now(), 
            <!-- company_code = #{company_code},  -->
            ord_text = #{ord_text}, 
            wh_number = #{wh_number} 
        WHERE ord_count = #{ord_count}
 </update>
 
 <!-- 발주 기안 목록 04 거래처 발주 반려 -->
 <update id="updateOrder04">
 	update orders 
        SET ord_count = #{ord_count}, 
        	ord_number = #{ord_number}, 
            ord_status = '04', 
            ord_manager_id = #{ord_manager_id}, 
            ord_supervisor_id = #{ord_supervisor_id}, 
            prod_id = #{prod_id}, 
            ord_price = #{ord_price}, 
            ord_quantity = #{ord_quantity}, 
            <!-- ord_date = #{ord_date},  -->
            ord_date_change = now(), 
            <!-- company_code = #{company_code},  -->
            ord_text = #{ord_text}, 
            wh_number = #{wh_number} 
        WHERE ord_count = #{ord_count}
 </update>
 
 
 <!-- 발주 담당자 목록 조회 -->
 <select id="listManager" resultType="OrdersVO">
 	select m.member_id, m.member_name, d.department_name, c.common_status, m.member_tel 
	from departments d, member m, common c 
	where d.department_id = m.department_id 
	and m.employee_rank = c.common_value 
	and common_work = 'emp_rank'
 </select>
 
 <!-- 발주 승인자 목록 조회 -->
 <select id="listSupervisor" resultType="OrdersVO">
 	select m.member_id, m.member_name, d.department_name, c.common_status, m.member_tel 
	from departments d, member m, common c 
	where d.department_id = m.department_id 
	and m.employee_rank = c.common_value 
	and common_work = 'emp_rank' 
	and m.permission_id = '02' 
	and m.member_state = '01' 
	and m.approval_status = '02'
 </select>
 <!-- 발주 제품 목록 조회 -->
 <select id="listProd" resultType="OrdersVO">
 	select p.prod_id, p.prod_name, p.prod_category, p.prod_brand, c.company_code, c.company_name, c.company_tel 
	from prod p, company c 
	where p.company_code = c.company_code 
	and prod_status = '01'
 </select>
 <!-- 발주 창고 목록 조회 -->
 <select id="listWarehouse" resultType="OrdersVO">
	 select w.wh_number, w.wh_name, w.wh_location, w.wh_admin, m.member_name, m.member_tel 
	 from warehouse w, member m 
	 where w.wh_admin = m.member_id 
	 and w.is_deleted = '01'
 </select>
 
 
 
 
 
 <!-- 발주 목록에서검색 기능 -->  <!-- 구현중 -->
 
 
 
 
 </mapper>